<!DOCTYPE html>
<html>

<head>
    <title>Chatail</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />

    <!-- angularjs scripts -->
    <script src="3rdparty/angular.js"></script>
    <script src="3rdparty/angular-loader.js"></script>
    <script src="3rdparty/angular-sanitize.js"></script>
    <script src="3rdparty/angular-route.js"></script>
    <script src="3rdparty/angular-base64.min.js"></script>

    <!-- Bootstrap Core CSS -->
    <script src="3rdparty/jquery-2.1.1.min.js"></script>
    <script src="3rdparty/bootstrap.min.js"></script>
    <link href="3rdparty/bootstrap.min.css"  rel="stylesheet" type="text/css">

    <!-- glyphicons -->
    <link href="3rdparty/bootstrap-glyphicons.css" rel="stylesheet">

    <script src="index.js"></script>

    <style>

        html, body {
            height: 100%;
        }

        .bottom-space {
            padding-bottom: 50px;
        }

    </style>
</head>

<body ng-app="Chatail" ng-controller="MainController">

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="container bottom-space">
                <div  ng-repeat="msg in data.messages">
                    <div class="row" ng-show="msg.me">
                        <div class="col-md-3"></div>
                        <div class="col-md-9 alert alert-success">
                            <div ng-bind-html="msg.body"></div>
                            <div class="label label-primary pull-right">Me</div><br/>
                        </div>
                    </div>
                    <div class="row" ng-hide="msg.me">
                        <div class="col-md-9 alert alert-info">
                            <div ng-bind-html="msg.body"></div>
                            <div class="label label-default pull-left">{{msg.from}}</div><br/>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="navbar navbar-fixed-bottom">
    <form role="form" ng-submit="send()">
        <div class="form-group" style="padding: 10px; padding-left: 10%; padding-right: 10%;">
            <div class="col-sm-3">
                <div class="input-group">
                    <span class="input-group-btn">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                To<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation" ng-repeat="contact in data.contacts" ng-click="toggleRecepient(contact)" >
                                    <a class="menuitem active" tabindex="-1" href="">
                                        {{contact.name}}
                                        <span class="label label-default" ng-show="isSetToSend(contact)">Y</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </span>
                    <input type="text" class="form-control" ng-model="to" name="to">
                </div>
            </div>
            <div class="col-sm-9">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="message" name="message" autofocus="true">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Send</button>
                    </span>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    window.scrollTo(0,document.body.scrollHeight);
</script>

</body>
</html>
